/*もじが表示されやすくなる*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}
h4{
  display: inline-block;
  font-size: 16px;
  color: #fff;
  /*background-color: #fff;*/
  /*margin-left: 40px;*/
}
li{
  list-style: none;
}
#list_box{
  border-radius:2px;
  outline:0;
  background:#eee;
}
.navbar{
  text-transform: uppercase; /*全て大文字に変換*/
  font-weight: 700;
  font-size: .9rem;
  background: rgba(0, 0, 0, 0.6)!important;
}
.navbar-nav{
  padding-right: .7rem;
  padding-left: 0;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}
.nav-item{
    list-style: none;
}
.tab-pane{
  margin-top: 0px;
  padding: 1em 1em;
  background: #ff9900;
}
.edit-image-box{
  background-color: #f0f0f0;
}
.img-item{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.tweet-area{
  width: 100%;
  /*height: 200px;*/
  /*padding: 5px;*/
  border-radius: 5px;
  /*border: 0px;*/
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #ff9900; 
  z-index: 10;
  outline: 0;
}
.sub-btn{
  float: right;
  position: relative;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px #ff9900;
  border-right: solid 4px #ff9900;
  color: #ff9900;
  background: #e1f3ff;
  transition: .4s;
}
.sub-btn:hover{
    background: #ff9900;
    color: #FFF;
}
.image_row{
  padding-left: 13%;
  padding-right: 13%;
}
.main-section{
  height: 78vh;
  background-color: #f0f0f0;
}
.image_section{
  background-color: #f0f0f0;
  height: 78vh;
}
.users-section{
  height: 100vh;
  background-color: #fff;
}
.form-control-file{
  display: inline-block !important;
  font-size: 12px;
}
.update_img{
  font-size: 12px;
  text-align: center;
}
.input_name{
  font-size: 12px;
}
.groupe-img{
  border-radius: 50%;
}


a {
  text-decoration: none;  
}
th {
    text-align: center;
}
th:nth-of-type(1),
td:nth-of-type(1) {
    color: red;
}
th:nth-of-type(7),
td:nth-of-type(7) {
    color: blue;
}
.full-height {
    margin: 0 auto;
}
.content {
    text-align: center;
}
table {
    table-layout: fixed;
}

/*group*/
.add_button{
   display: inline-block;
}
.membar_name{
    display: inline-block;
}
.groupe-img{
    width: 45px;
    height: 45px;
}
#sampleHeader {
	height: 112px;
}
#sampleMainContents {
	overflow: scroll;
	height: 380px;
	/*padding: 2em;*/
	border-left: 1px solid #ddd;
}


footer{
  height: 70px;
}
.fooer-content{
  margin-top: 23px;
}

/*// 極小デバイス（縦向きモバイル, 576px 未満）*/
/*// Bootstrapではデフォルトで xsのメディアクエリは存在しない*/

/*// 小デバイス（横向きモバイル, 576px 以上）*/
@media (min-width: 576px) {
  
  
}

/*// 中デバイス（タブレット, 768px 以上）*/
/*@media (min-width: 768px) { ... }*/

/*// 大デバイス（デスクトップ, 992px 以上）*/
/*@media (min-width: 992px) { ... }*/

/*// 特大デバイス（ワイド・デスクトップ, 1200px 以上）*/
/*@media (min-width: 1200px) { ... }*/



